<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

      <div class="container">
        <h1 class="title">Insert Product</h1>
        <div class="box-input">
            <form action="doInsert" method="POST">
                 <label for="" style="color: red">{{model.nameError}}</label>
                <input class="text" type="text" name="txtName" placeholder="Name">
                <input class="text" type="text" name="txtImage" placeholder="Image">
                <label for="" style="color: red;">{{model.priceError}}</label>
                <input class="text" type="text" name="txtPrice" placeholder="Price">
                <textarea class="text" name="txtDetal" cols="36" rows="10" placeholder="Detail"></textarea>
                <input class="submit" type="submit" value="Insert">
            </form>
        </div>
    </div>
</body>
</html>